body {
  font-family: 'Lato', sans-serif;
  line-height: 22px;
  letter-spacing: .5px;
  background: url(img/bg-wrapper.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

/*h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}*/

li {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
}

h4 {
  margin-bottom: 15px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-header {
}

.navbar-toggle {
    float: left;
    margin-left: 12px;
}

.navbar-default .navbar-nav>li>a {
	color: #696969;
	padding-right: 40px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #9932CC;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* NAVBAR CONTROL */
.navbar-default { 
  background: #fff;
  border-bottom: none;
  box-shadow: none;
  opacity: .98;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    border-radius: 0px;
    height: 3px;
    width: 14px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover {
    background-color: white;
}

.navbar-default .navbar-toggle:focus {
    background-color: white;
}

.container {
  background: white;
  opacity: .9;
    
}

.cont-1 {
	height: 2000px;
	margin-top: 90px;
}

.header-logo {
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 45px;
  font-weight: bolder;
}

.no-padding {
	padding: 0px;
}

.window {
  height: 800px;
}

.widget-title {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: #888;
  text-shadow: 1px 1px 1px #dcdcdc;
  border-top: 1px solid #dcdcdc;
}

.blog-post-meta {
  color: #a9a9a9;
  font-weight: 200;
  margin-bottom: 30px;
}

.blog-post-title {
  margin-top: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
}

.blog-post-copy {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

@media(min-width: 768px) {
  .bio {
    font-family: 'Lato', sans-serif;
    font-size: 14px;    
    margin: 120px auto;
    width: 960px;
  }
}

.img-responsive {
  margin: 0 auto;
}

/*div {
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
} */

.bio-pic {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 25px;
}

footer {
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 10px;
  letter-spacing: 2px;
}

.jumbotron {
  background: #ffffff;
  letter-spacing: 1px;
  line-height: 30px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

@media (min-width: 768px) {
    .header-logo {  margin-bottom: 20px;
                    margin-top: 5px;
                    font-size: 152px;
                    font-weight: bolder;
  }
}

    .navbar .navbar-collapse {
        text-align: center;
    }
}